HTTP_ADDR=:8080
POSTGRES_DB=core
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
DOCKER_DATABASE_URL=postgres://postgres:postgres@postgres:5432/core?sslmode=disable
RUN_MIGRATIONS=true
LOG_LEVEL=info
